image: openjdk:8-stretch

stages:
  - build

before_script:
  - echo "Start CI/CD"

maven-build:
  image: maven:3-jdk-8
  stage: build
  script: "mvn package -B"
  artifacts:
    paths:
      - target/*.jar

after_script:
  - echo "End CI/CD"
